<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Video Club</title>
<link rel="stylesheet" th:href="@{/css/retro.css}" />
</head>
<body>
	<h2>Movie Management</h2>
	<h3 th:text="'Movie modification: ' + ${name}"></h3>
	<form th:action="@{/management/movies/modify/{id}(id=${id})}" method="post">
		<label>Content Url:</label><input type="text" name="url" /><br />
		<label>Description:</label><input type="text" name="description" /><br />
		<label>Year:</label><input type="text" name="year" /><br />
		<label>Director:</label><input type="text" name="director" /><br />
		<label>Cast:</label><input type="text" name="cast" /><br />
		<label>Front:</label><input type="text" name="front" /><br />
		<label>Rating:</label><input type="text" name="rating" /><br />
		<input type="submit" value="Modify movie" /> <br />
	</form>

	<p th:if="${not_found}" th:text="That movie doesn't exist"></p>
	
	<a href="#" th:href="@{/management/movies}" th:text="'Back to Movie Management'"></a>	
</body>
</html>