<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Video Club</title>
<link rel="stylesheet" th:href="@{/css/retro.css}" />
</head>
<body>
	<h2>User Management</h2>
	<a href="#" th:href="@{/management/users/search}" th:text="'Search'"></a>
	<a href="#" th:href="@{/management/users/list}" th:text="'List all users'"></a>
	<a href="#" th:href="@{/management/users/new}" th:text="'Create user'"></a>
	<br />
	<a href="#" th:href="@{/}" th:text="'Back to Home'"></a>
	
	<p th:if="${modified_user}" th:text="'User ' + ${modified_user} + ' has been modified'"></p>
	<p th:if="${deleted_user}" th:text="'User ' + ${deleted_user} + ' has been removed'"></p>
</body>
</html>